<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        <% @tasks.each do |task| %>
        <tr>
            <td><%= task.id %></td>
            <td><%= task.task_name %></td>
            <td><%= task.category_id %></td>
        </tr>
        <% end %>
    </tbody>
</table>
